<?xml version="1.0" encoding="UTF-8"?>
<suite name="SauceDemo Sequential Suite" parallel="false">
    <listeners>
        <listener class-name="com.ecosio.saucedemo.utils.RetryListener"/>
    </listeners>
    <test name="SequentialTests">
        <classes>
            <class name="com.ecosio.saucedemo.tests.PurchaseSingleItemTest"/>
            <class name="com.ecosio.saucedemo.tests.PurchaseMultipleItemsTest"/>
            <class name="com.ecosio.saucedemo.tests.LockedOutUserLoginNegativeTest"/>
            <class name="com.ecosio.saucedemo.tests.CheckoutMissingPostalCodeNegativeTest"/>
            <class name="com.ecosio.saucedemo.tests.ResetAppStateClearsCartTest"/>
        </classes>
    </test>
</suite>
